{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
                <option disabled selected value="">Stock Symbol</option>
                {% for stock in stocks %}
                    <option value={{stock}} >{{stock}}</option>
                {% endfor%}
            <select/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of Shares" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Sell Stock</button>
    </form>
{% endblock %}